# IDE configs
.idea/
.vscode/

# Local development files (IntelliJ)
out/
jars/
*.iml

# Local development files (Gradle)
.classpath
.gradle/
.project
.settings/
bin/
build/
gradle.properties

# Node modules (Prettier)
node_modules/
package-lock.json

# Build artifacts
/*.jar
/*.zip
